<div style="background-color: #66CDAA">
<h1>Calculadora</h1>
<div><label for="numeroUm">Informe o número 1</label>
    <input type="number" [(ngModel)]="numeroUm" id="numeroUm">
    
</div>
<div><label for="numeroDois">Informe o número 2</label>
  <input type="number" [(ngModel)]="numeroDois" id="numeroDois">
</div>

<div><label for="operacao">Informe a Operacao</label>
  <select  id="operacao" [(ngModel)]="operacao" >
  <option value="SOMA">+ SOMA</option>
  <option value="SUBTRACAO">- SUBTRAÇÃO</option>
  <option value="DIVISAO">/ DIVISÃO</option>
  <option value="MULTIPLICACAO">* MULTIPLICAÇÃO</option>
  </select>
</div>

<div>
  
  <button style="background-color:#483D8B" 
  (click)="onClickExecutarOperacao()">Executar Operação</button>
  
</div>

<div><h2 style="background:#C71585"style="font-color: #000080	">Resultado:{{response.resultado}}</h2></div>










</div>